/* Tooltip container */
.cool-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */

    $width: 240px;
    .cool-tooltiptext {
        visibility: hidden;
        display: inline-block;
        width: $width;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
    
        /* Position the tooltip text - see examples below! */
        position:absolute;
        bottom: 100%;
        left: 50%;
        margin-left: calc(-1 * $width / 2); /* Use half of the width (width/2), to center the tooltip */
        overflow-x: auto;
        z-index: 1;
    }

    &:hover {
        .cool-tooltiptext {
            visibility: visible;
        }
    }
}